<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653694478690-dukd88geu011u67ocsepmfseppuj2vel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653694478690-dukd88geu011u67ocsepmfseppuj2vel</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653694478690-rl18gnnf9brb6tfvmih8vinjcmr34u60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRlKuBHhKpwkrWAfOtVK_Ev-jdsYfbvNc</string>
	<key>GCM_SENDER_ID</key>
	<string>653694478690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logistic</string>
	<key>PROJECT_ID</key>
	<string>logistic-app-978e9</string>
	<key>STORAGE_BUCKET</key>
	<string>logistic-app-978e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653694478690:ios:b2cfdb264544ce3afca43b</string>
	<key>DATABASE_URL</key>
	<string>https://logistic-app-978e9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>